@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.textocentrado {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: #7E52A0; }

.cuotas {
  height: 100%;
  width: 100%; }

body nav {
  font-family: "Bebas Neue", cursive;
  font-size: 20px; }

body section {
  display: flex;
  justify-content: space-evenly; }
  body section div a img {
    height: 150px;
    width: 150px; }

footer {
  background-color: black;
  font-family: "Bebas Neue", cursive; }
  footer div {
    color: white; }
