@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.textocentrado {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  color: black;
  text-decoration: underline; }

.cuotas {
  height: 30px;
  width: 100%; }

.margintop {
  margin-top: 20px; }

body nav {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  color: red; }

body section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body section div a img {
    height: 150px;
    width: 150px; }
    body section div a img:hover {
      transform: scale(2, 2); }

footer {
  align-items: flex-end;
  background-color: black;
  height: 65vh;
  color: white; }
  footer a {
    text-decoration: none;
    color: white; }

.font {
  font-weight: bold;
  font-size: 40px;
  font-family: "Bebas Neue", cursive; }

.flex {
  display: flex;
  flex-direction: column; }

body main {
  font-family: "Bebas Neue", cursive;
  padding-top: 10px; }

.displayflex {
  display: flex;
  flex-direction: column;
  align-items: center; }

.h2 {
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
  padding-top: 10px; }

.textocentrado2 {
  text-align: center; }

.margin {
  margin-top: 10px; }

.margin2 {
  margin-bottom: 20px; }

.sectionflex {
  display: flex; }

.footer {
  margin-top: 25vh; }

.dondenosubicamos {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin-bottom: 10px; }

.marginbottom {
  margin-bottom: 100px; }

@media (min-width: 1024px) {
  .cuotas {
    height: 50px; }
  body section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .displayflex {
    flex-direction: row;
    justify-content: space-around; }
  .flex {
    flex-direction: row;
    justify-content: space-evenly; }
  footer {
    height: 30vh; } }
