
body{
    p{
        text-align: center;
    }
}

.margin{
    margin-top: 10px;
}


.sectionflex{
    display: flex;
}

.footer{
    margin-top: 25vh;
}

.dondenosubicamos{
    font-family: $bebas;
    font-size: 30px;
}