.textocentrado2{
    text-align: center;
}

.margin{
    margin-top: 10px;
}

.margin2{
    margin-bottom: 20px;
}


.sectionflex{
    display: flex;
}


.dondenosubicamos{
    font-family: $bebas;
    font-size: 30px;
    margin-bottom: 10px;
}

.flex3{
    display: flex;
    flex-direction: column;
}

.font3{
    font-weight: bold;
    font-family: $bebas;
    font-size: 30px;
    text-decoration: underline;
}