.textocentrado2{
    text-align: center;
}

.margin{
    margin-top: 10px;
}

.margin2{
    margin-bottom: 20px;
}


.sectionflex{
    display: flex;
}

.footer{
    margin-top: 25vh;
}

.dondenosubicamos{
    font-family: $bebas;
    font-size: 30px;
    margin-bottom: 10px;
}