//cards
body{
    main{
        font-family: $bebas;
        padding-top: 10px;
       
    }
}

//cards
.displayflex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2{
    @include fontcolor (black)
}

.logos{
    width: 70px;
    height: 30px;
}
